*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 16px;
    max-width: 300px;
    max-height: 450px;
    border: 1.5px solid hsl(0, 0%, 7%);

    /* for black shadow of card */
    box-shadow: 7px 7px hsl(0, 0%, 7%);
    transform: translateY(-2px);
}

.blog{
    width: 100%;
    border-radius: 16px;
}

.learn{
    background-color: hsl(47, 88%, 63%);
    margin: 16px 0 14px 0;
    font-weight: bold;
    max-width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    font-size: 12px;
    border-radius: 5px;
    flex-shrink: 0;
}

.date{
    padding-bottom: 14px;
    font-size: 14px;
}

.para{
    margin: 18px 0 16px 0;
    font-weight: 100;
    font-size: 14px;
}

.footer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.profile-img{
    width: 40px;
    height: 40px;
}

.profile-name{
    font-weight: bolder;
    padding: 11px 0 0 13px;
}
